@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
  background: url('../images/pexels-tirachard-kumtanom-733852-Medium.jpg') center top / cover fixed;
  --border-color: #000;
  --color-cultured: #F1EFED;
  --color-magnolia: #E9E7F1;
}

* {
  box-sizing: border-box;
  transition: all 0.5s;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
  text-shadow: 2px 2px 2px #fff;
}

#table, #history {
  width: fit-content;
  margin: auto;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
}

table td {
  border: 1px solid var(--border-color);
  vertical-align: middle;
  text-align: center;
  min-width: 100px;
  height: 50px;
  padding: 15px;
}

thead th {
  background-color: hsla(235, 6%, 43%, 25%);
  border: 1px solid var(--border-color);
  border-radius: 30px 30px 0 0;
}

thead td {
  color: #fff;
  background-color: #686975;
}

thead td:first-of-type {
  color: #fff;
  background-color: #000;
}

tbody tr:nth-of-type(even), tfoot tr {
  background-color: var(--color-cultured);
}

tbody tr:nth-of-type(odd) {
  background-color: var(--color-magnolia);
}

tbody td:first-of-type {
  text-align: left;
  padding-left: 15px;
}

tbody .tbutton {
  font-size: 0.85rem;
  color: #fff;
  background-color: #62539B;
}

tbody .color {
  background-color: #7B549C;
}

tbody .bactive {
  filter: contrast(60%) brightness(120%);
}

b {
  font-weight: 500;
}

i {
  font-style: italic;
}

#history {
  position: relative;
  top: 20px;
  padding: 15px;
  border: 1px solid black;
  width: 100%;
  text-align: left;
  background-color: var(--color-magnolia);
}

#history button {
  border: 1px solid #000;
  padding: 15px;
  color: #fff;
  background-color: #62539B;
  display: inline-block;
}
