@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  margin: 1rem;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  margin: 1rem 0;
}

.azul {
  color: #0000ff;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}

table td {
  min-width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid #000000;
}

table td:first-child {
  text-align: left;
}

button {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: hsl(0, 0%, 90%);
}
