@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
  background: url('pexels-tirachard-kumtanom-733852\ \(Medium\).jpg') center top / cover fixed;
  --border-color: #000;
  --color-cultured: #F1EFED;
  --color-magnolia: #E9E7F1;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
  text-shadow: 2px 2px 2px #fff;
}

div.table {
  width: fit-content;
  margin: auto;
}

/* div.history */

table {
  border-collapse: separate;
  border-spacing: 2px;
}

table td {
  border: 1px solid var(--border-color);
  vertical-align: middle;
  text-align: center;
  min-width: 100px;
  height: 50px;
  padding: 15px;
}

thead th {
  background-color: hsla(235, 6%, 43%, 25%);
  border: 1px solid var(--border-color);
  border-radius: 30px 30px 0 0;
}

thead td {
  color: #fff;
  background-color: #686975;
}

thead td:first-child {
  color: #fff;
  background-color: #000;
}

tbody tr:nth-child(even), tfoot tr {
  background-color: var(--color-cultured);
}

tbody tr:nth-child(odd) {
  background-color: var(--color-magnolia);
}

tbody td:first-child {
  text-align: left;
  padding-left: 15px;
}

tbody .tbutton {
  font-size: 0.85rem;
  color: #fff;
  background-color: #62539B;
}

tbody .color {
  background-color: #7B549C;
}

tbody .bactive {
  filter: contrast(60%) brightness(120%);
}
